@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body {
  height: 95vh;
  margin: 0px;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.adp-directions {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.adp-marker {
  margin: 5px 5px;
}

/* Hides fullscreencontrol from Streetview*/
.gm-style > div:nth-child(10){
 display:none;
}

.half-left {
  float: left;
  width: 47%;
}

.half-right {
  float: right;
  width: 53%;
}

.icon-legend {
  font-size: 12px;
}

.instructions .borderless td {
  border: none;
  text-align: left;
  /*font-size: 0.7em;*/
}

/*.instructions p {
  font-size: 0.7em;
}*/

.intro-pic {
  width: 50%;
  border-radius: 5px;
}

.modal-body {
 /* background-color: #FFF3E0;*/
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-content  {
  top: 5%;
}

.modal-dialog  {
  width: 70%;
  height: 75%;
}

/*.modal-footer {
  background-color: #E3F2FD;
}*/

.modal-header {
  background-color: #FF9800;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-title-logo {
  font-family: 'Pacifico';
  font-size: 3em;
  padding-top: 0.1em;
  margin-top: 17px;
  text-align: center;
}

.modal-header img {
  max-width: 100%;
}

.modal-title {
position: relative;
}

.pac-container {
  z-index: 9999;
}

.sidebar-brand {
  font-family: 'Pacifico';
  font-size: 2em;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}


.sidebar-nav > .sidebar-brand img {
  width: 100%;
  margin: 0px;
  position: absolute;
}

#bus-routes-modal {
  display: none;
  left: 240px;
}

#directions-panel {
  width: 45.4%;
  margin-right: 1em;
  float: left;
}

#drive-around {
  left: 150px;
}

#get-directions-modal {
  display: none;
  left: 195px;
}

#help-modal {
  left: 60px;
}

#hyperlapse {
  margin-top: 0.8em;
  width: 52.8%;
  float: right;
}

#hyperlapse-loading {
  margin-top: 0.8em;
  width: 52.8%;
  float: right;
  display: none;
}

#loading-gif {
  max-width: 100%;
}

#location-modal {
  left: 105px;
}

#leap-icon {
  right: 105px;
  font-weight: bold;
}

#leap-icon.leap-on{
  color: green;
}

#leap-icon.leap-off{
  color: red;
}

#left-hand-icon {
  right: 60px;
}

#left-hand-icon.detected{
  color: green;
}

#logo {
  font-family: 'Pacifico', cursive;
}

#map {
  display: none;
  height: 95vh;
}

#modal-button {
  display: none;
}

<<<<<<< HEAD
#map-address-btn {
  margin-left: 15px;
=======
#help-btn {
  background-color: #4144B4;
  border-color: #4144B4
}

#map-address-btn, #map-address-btn2 {
  margin-left: 15px;
  margin-top: 2px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#simulate-bus-routes {
  margin-top: 2px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#right-hand-icon {
  right: 15px;
}

#right-hand-icon.detected{
  color: green;
}

#sidebar {
  height: 95vh;
}

#sidebar-wrapper {
  background-color: white;
  box-shadow: 5px 5px 5px #d1d1d1;
}

/*#sidebar-wrapper #location-address {
  width: 19%;
}
*/
#streetview {
  height: 95vh;
  /* avoid grey area on sidebar toggle*/
  width: 100hh;
}

#menu-toggle, #help-modal, #location-modal, #get-directions-modal,
#leap-icon, #right-hand-icon, #left-hand-icon, #drive-around, #get-directions, #bus-routes-modal {
  position: absolute;
  opacity: 0.9;
  z-index: 1;
}
