html, body {
  height: 100vh;
  margin: 0px;
  padding: 0;
}

#sidebar {
  height: 100vh;
}

#streetview, #map {
  height: 100vh;
}

#map {
  display: none;
}

.half-left {
  float: left;
  width: 50%;
}

.half-right {
  float: right;
  width: 50%;
}

#help-modal {
  left: 60px;
}

#location-modal {
  left: 105px;
}

#drive-around {
  left: 150px;
}

#get-directions-modal {
  display: none;
  left: 195px;
}



#leap-icon {
  left: 640px;
  font-weight: bold;
}

#leap-icon.leap-on{
  color: green;
}

#leap-icon.leap-off{
  color: red;
}

#left-hand-icon {
  left: 45px;
  margin-top: -3px;
}
#left-hand-icon.detected{
  color: green;
}

#right-hand-icon {
  left: 90px;
  margin-top: -3px;
}

#right-hand-icon.detected{
  color: green;
}

#menu-toggle, #help-modal, #location-modal, #get-directions-modal,
#leap-icon, #right-hand-icon, #left-hand-icon, #drive-around, #get-directions {
  position: absolute;
  opacity: 0.9;
  z-index: 1;
}

.modal-header {
  background-color: #FF9800;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-body {
 /* background-color: #FFF3E0;*/
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*.modal-footer {
  background-color: #E3F2FD;
}*/

#modal-button {
  display: none;
}

.modal-dialog  {
  width: 75%;
  height: 75%;
}

.modal-content  {
  top: 25%;
}

/* Styling google maps directions */
.adp-directions {
  width: 100%;
}

/* Styling search form welcome modal */
.pac-container {
  z-index: 9999;
}

/* Styling search form sidebar */


#sidebar-wrapper #location-address {
  width: 19%;
}
