html, body {
  height: 100vh;
  margin: 0px;
  padding: 0;
}

#sidebar {
  height: 100vh;
}

#streetview {
  height: 100vh;
}

#help-modal {
  left: 60px;
}

#menu-toggle, #help-modal {
  position: absolute;
  opacity: 0.9;
  z-index: 1;
}

#modal-button {
  display: none;
}

.modal-dialog  {
  width: 75%;
  height: 75%;
}

.modal-content  {
  top: 25%;
}


/* Styling search form welcome modal */

#locationField, #controls {
  position: relative;
  width: 480px;
}
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}
