/* this is for the star ratings to appear
in the infowindow of each marker */
iwOuter.parent.parent {
  left: 115px;
}

.iw-title {
  font-family: 'Pacifico';
  font-size: 22px;
  font-weight: 400;
  color:  #ff9800;
  text-shadow: 1px 1px black;
  margin: 1px;
  padding: 0px;
  /*padding-left: 12px;*/
  width: 200px;
}

span.stars, span.stars span {
  display: block;
  background: url(../images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

.infoWindowContent {
  padding: 0px;
  background: rgba(240, 240, 240, 0);
}

.contentBody {
  margin-top: 10px;
}

/* Styles image in tweet info window */

.twitter-user {
  border-radius: 5px;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}
